:root {
  --anki-nightfield: #3a3a3a;
  --anki-nightborder: #777777;
}

.code-compiled {
  margin-top: 0 !important;
}

.code-compiled pre {
  white-space: normal;
  border-top-right-radius: 0;
  border-top-left-radius:  0;
}
