@mixin cloze-ellipsis {
    &::before {
        content: '...';
    }
}

@mixin cloze {
    $denim-blue: #1560bd;

    .closet-cloze.is-active {
        color: $denim-blue;

        &::before {
            content: '[';
        }

        &::after {
            content: ']';
        }


        &.is-back {
            &::before {
                content: normal;
            }

            &::after {
                content: normal;
            }
        }
    }

    .closet-cloze__hint:empty {
        @include cloze-ellipsis;
    }

    .closet-cloze__ellipsis {
        @include cloze-ellipsis;
    }
}
