@use "rect";

img {
  max-width: 100% !important;
  max-height: var(--closet-max-height);
}

.closet-select-mode {
  /* slightly below top */
  vertical-align: 20%;
  /* night-mode fix */
  background-color: var(--frame-bg);
  border-color: var(--border);
  color: var(--text-fg);
}

@include rect.rect;
