.android .card:not(.mathjax-rendered) {
  visibility: hidden;
}

.closet-delay {
  visibility: hidden;
}

.closet-log {
  color: black;
  background-color: rgb(255, 147, 40);

  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
