.tabs {
  justify-content: stretch;
}

.tabs__item {
  white-space: nowrap;
  user-select: none;
  border-radius: 0;
  margin: auto 0 !important;
}

.tabs__item--active {
  border-bottom-color: transparent;
  background-color: var(--ifm-hover-overlay);
}
