.tabs {
  justify-content: stretch;
  flex-direction: row !important;
}

.tabs::-webkit-scrollbar {
  height: 0.6rem;
  background-color: var(--ifm-scrollbar-track-background-color);
}

.tabs::-webkit-scrollbar-thumb {
    background: var(--ifm-scrollbar-thumb-background-color)
}

.tabs__item {
  white-space: nowrap;
  user-select: none;
  border-radius: 0;
  margin: auto 0 !important;
}

.tabs__item--active {
  border-bottom-color: transparent;
  background-color: var(--ifm-hover-overlay);
}
