img {
  max-width: 100% !important;
  max-height: var(--closet-max-height);
}

.closet-select-mode {
  /* sligthly below top */
  vertical-align: 20%;
  background-color: var(--frame-bg);
  border-color: var(--border);
  color: var(--text-fg);
}
