<div id="tester-container">
  <textarea id="preset"></textarea>
  <textarea id="code" class="codearea" cols="30" rows="10"></textarea>

  <div class="btn-group">
    <button id="btn-execute" class="btn btn-outline btn-green" type="button">Render</button>

    <input type="checkbox" name="memoize-checkbox" id="memoize-checkbox"/>
    <label for="memoize-checkbox" class="memoize-label btn btn-purple btn-outline">Reuse Memory</label>

    <div id="btn-group-fm">
      <button id="btn-fm" class="btn btn-purple btn-outline" type="button">Filter Manager</button>

      <form>
        <ul id="ul-fm">
          {% for setup in site.data.setups %}
          {% assign setupId = setup[1].name | slugify %}
          {% assign s = setup[1] %}

          <input type="radio" id="input-{{ setupId }}" name="fm-list" value="{{ setupId }}" />

          <li>
            <label class="li-fm" id="label-{{ setupId }}" for="input-{{ setupId }}">{{ s.name }}</label>

            <span class="li-fm-info" id="info-{{ setupId }}" for="input-{{ setupId }}">{% include info.svg %}</span>

            <div class="fm-display">
              <pre><code class="language-js">{{ s.code | escape_once }}</code></pre>
            </div>
          </li>

          {% endfor %}
        </ul>
      </form>

      <script>
        const setups = new Map()
        const registerSetup = (name, code) => {
          setups.set(name, code)
        }

        {% for setup in site.data.setups %}
        {% assign setupId = setup[1].name | slugify %}
        {% assign s = setup[1] %}

        registerSetup(
          `{{ setupId }}`,
          (preset, memory) => {
            const filterManager = new Closet.FilterManager(preset, memory)
            {{ s.code }}
            return filterManager
          },
        )
        {% endfor %}
      </script>
    </div>

    <button id="btn-copy-link" class="btn btn-outline btn-blue" type="button">Copy as link</button>
  </div>

  <div id="template-applied" class="bordered">
    <div class="output-display output"></div>
    <span class="desc">Template Applied</span>
  </div>
</div>
