.CodeMirror {
    height: auto;
    border: 5px solid #eee;
}

html[data-theme="dark"] .MuiSwitch-track {
  background-color: white;
}

.MuiFormControlLabel-root {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.MuiFormGroup-row {
  margin: 0.2rem 0;
  column-gap: 0.6rem;
}

.MuiTextField-root {
  width: 98px;
}

.MuiButton-containedPrimary {
  background-color: #10ac7d;
}
