---
---

// code-container contents

pre {
    border-radius: 4px;
}

.code-example {
    min-height: 7rem;
}

.output-display {
    padding: 0.5rem;
    font-family: Verdana, Geneva, sans-serif;
}

.code-container {
    position: relative;

    .code-example {
        border-radius: 4px 4px 0 0;
        margin-bottom: 0;
    }

    & > pre {
        margin-top: 0;
        margin-bottom: 1em;

        border: 1px solid #44434d;
        border-top: 0;
        border-radius: 0 0 4px 4px;
    }
}

.fm-display pre {
    border-radius: 0;
}

// btn section

$display-distance: 0.8rem;

.btn-group-tester {
    float: right;

    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;

    & > button {
        margin-left: 0.5rem;
        margin-top: 0.5rem;
    }

    & > button.active {
        // creates a white area around it
        box-shadow: inset 0 0 0 3px coral;

        &:hover {
            box-shadow: inset 0 0 0 3px #e6e1e8;
        }
    }
}

.btn-fm {
    float: right;
    border-radius: 4px;

    text-align: center;
}

.fm-display {
    position: absolute;
    top: $display-distance;
    right: $display-distance; // * 4.5;
    left: $display-distance;

    // make content escape
    background-color: white;
    border-radius: 4px;

    // is turned on by eventListener
    display: none;
    &.show {
        display: block;
    }

    code[class*="language-"], pre[class*="language-"] {
        position: relative;
        z-index: 9;

        font-size: 90%;
        background: #4d4d4d;
    }
}

// Closet highlight for Prism.js
span.token {
    &.tagstart, &.altsep, &.argsep, &.tagend {
        color: #268bd2;
    }

    &.tagname {
        color: #cb4b16;
    }
}
