---
---

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.d-inline-block {
    position: relative;
}

a[href="//github.com/hgiesel/closet/"] {
    padding-right: 3rem;

    // overwrite just-the-docs so GitHub link can contain image
    overflow: visible;

    &:after {
        content: url(https://github.githubassets.com/images/modules/logos_page/Octocat.png);
        object-fit: contain;
        transform: scale(.06) translate(0, -20rem);
        width: 0rem;
        height: 0rem;

    }
}

code {
    // overwrite just-the-docs in favor of prismjs
    border-style: none;
}
