---
---

#tester-container {
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;

    .btn-group {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        flex-wrap: wrap;

        & > button, & > label {
            margin-right: 0.5rem;
            margin-top: 0.5rem;
        }
    }
}

textarea {
    resize: none;
}

.bordered {
    padding: 20px 5px;
    border: 2px solid grey;
    border-radius: 4px;

    position: relative;
}

.desc {
    position: absolute;
    right: 3px;
    bottom: 3px;
    opacity: 0.5;
}

.CodeMirror {
    height: auto;

    border: 5px solid #eee;
    padding: 5px;


    &.failed {
        border: 5px solid #dc322f;
    }
}

.CodeMirror-empty {
    color: lightgray;
}


// Toggle Memoization Checkbox
input[type="checkbox"] {
    display: none;
}

.memoize-label {
    position: relative;
    padding-right: 2rem;

    &::after {
        display: inline;

        transform: scale(.7);
        transform-origin: center;

        position: absolute;
        content: url("/assets/icons/x-mark.svg");

        #memoize-checkbox:checked ~ & {
            content: url("/assets/icons/check-mark.svg");
        }
    }
}
