*{
  box-sizing:border-box;
}

body {
  height: 100%;
  margin:0;
}

textarea {
  top: 5px;
  width: 45%;
  height: calc(100vh - 20px);
  resize: none;
}

.CodeMirror {
  top: 5px;
  display: inline-block;
  width: 45%;
}
