body {
  display: flex;
}

textarea {
  /* top: -60px; */
  /* width: 45%; */
  /* height: calc(100vh - 20px); */
  resize: none;
}

.bordered {
  padding: 5px;
  border: 2px solid grey;
  border-radius: 8px;
}

.desc {
  position: relative;
  right: 3px;
  bottom: 3px;
  opacity: 0.5;
}
