.example {
  position: relative;
}

.icon-plus {
  position: absolute;
  left: 0;
  right: 0;
  margin: -0.5rem auto 0;
  transform: scale(2.5);

  pointer-events: none;
}

.icon-equals {
  position: absolute;
  left: 0;
  right: 0;
  margin: 2.6rem auto 0;
  transform: scale(2.5);

  pointer-events: none;
}

:root {
  --anki-nightfield: #3a3a3a;
  --anki-nightborder: #777777;
}

html[data-theme="dark"] pre {
  background-color: var(--anki-nightfield);
}

html[data-theme="light"] pre {
  background-color: #e4e4e4;
}

pre * {
  margin: 0;
}

.pre-top {
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius:  0;
}

.pre-top code {
  white-space: normal;
}

.pre-bottom {
  white-space: normal;
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius:  0;
}
