#btn-group-fm {
    position: relative;
}

#btn-fm {
    &.show:after {
        content: " ▽";
    }

    &:after {
        content: " △";
    }
}


#ul-fm {
    position: absolute;
    display: none;
    width: 150%;

    input[name="fm-list"] {
        display: none;

        &:checked + li {
            background-color: yellow;
            color: black;
        }
    }

    &.show {
        display: block;
    }

    & > li {
        position: relative;
        border-radius: 4px;
        padding: 2px 10px;
        background-color: grey;

        &:hover {
            background-color: white;
            color: black;
        }

        &::before {
            // overwrite default
            content: "";
        }

        & > .fm-display {
            top: 2rem;
            left: -17.5rem;
            right: 0rem;

            z-index: 1;
        }
    }
}
