input[type="checkbox"] {
    display: none;
}

.memoize-label {
    position: relative;
    padding-right: 2rem;

    &::after {
        display: inline;

        transform: scale(.65);
        transform-origin: center;

        position: absolute;
        content: url("/assets/icons/x-mark.svg");

        #memoize-checkbox:checked ~ & {
            content: url("/assets/icons/check-mark.svg");
        }
    }
}
