---
---

#tester-container {
    display: grid;
    grid-row-gap: 0.5rem;

    .btn-group {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        flex-wrap: wrap;

        // paints button content always over #template-applied
        z-index: 3;

        & > * {
            margin-right: 0.5rem;
            margin-top: 0.5rem;
        }
    }
}

textarea {
    resize: none;
}

.bordered {
    padding: 20px 5px;
    border: 2px solid grey;
    border-radius: 4px;

    position: relative;
}

.desc {
    position: absolute;
    right: 3px;
    bottom: 3px;
    opacity: 0.5;
}

.CodeMirror {
    height: auto;
    border: 5px solid #eee;

    &.failed {
        border: 5px solid #dc322f;
    }
}

.CodeMirror-empty {
    color: lightgray;
}


@import "toggleMemoizationButton";
@import "filterManagerButton";
